<h2>お知らせ</h2>
  <div class="table-responsive">
   <table class="table">
    <thead>
     <tr>
       <th>状態</th>
       <th>通知内容</th>
       <th>時間</th>
       <th colspan="3"></th>
     </tr>
    </thead>
    <tbody>
   <% @notifications.each do |notification| %>
    <tr>
      <th><span>未読</span></th>
      <th><%= notification.comment.user.try(:name) %>さんが、あなたのブログ（<%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %>）にコメントしました。</th>
      <th><%= notification.created_at %></th>
     </tr>
    <% end %>
    </tbody>
